@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 1840px;
    height: auto;
    font-size: 16px;
    font-family: 'Montserrat', 'Pretendard', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

a {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    font-family: 'Pretendard', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #333;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

input::-webkit-input-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

input:-moz-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

input::-moz-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

input:-ms-input-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

input::-ms-input-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

input::placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

button {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
    cursor: pointer;
    -webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

table {
    font-size: 1rem;
    border-collapse: collapse;
}

select {
    font-family: 'Pretendard', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    background: url("../img/select_arrows.png") no-repeat right 15px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #333;
}

select::-ms-expand {
    display: none;
}

textarea {
    font-family: 'Pretendard', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #333;
}

textarea::-webkit-input-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

textarea:-moz-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

textarea::-moz-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

textarea:-ms-input-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

textarea::-ms-input-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

textarea::placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #bdbdbd;
}

@media all and (max-width: 376px) {
    select {
        font-size: 0.8125rem;
    }

    input {
        font-size: 0.8125rem;
    }

    input::-webkit-input-placeholder {
        font-size: 0.8125rem;
    }

    input:-moz-placeholder {
        font-size: 0.8125rem;
    }

    input::-moz-placeholder {
        font-size: 0.8125rem;
    }

    input:-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    input::-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    input::placeholder {
        font-size: 0.8125rem;
    }

    textarea {
        font-size: 0.8125rem;
    }

    textarea::-webkit-input-placeholder {
        font-size: 0.8125rem;
    }

    textarea:-moz-placeholder {
        font-size: 0.8125rem;
    }

    textarea::-moz-placeholder {
        font-size: 0.8125rem;
    }

    textarea:-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    textarea::-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    textarea::placeholder {
        font-size: 0.8125rem;
    }
}
