@charset "UTF-8";

/* HEADER SETTING */
#new_hd {
    font-family: 'Pretendard', sans-serif;
    width: 100%;
    min-width: 1840px;
    overflow: auto;
    height: 70px;
    position: fixed;
    z-index: 99999999;
    background-color: #fff;
    top: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#new_hd .hd_area {
    width: 100%;
    height: auto;
    position: relative;
}

#new_hd .hd_con {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* HEADER SETTING END */

/* HEADER LOGO */
#new_hd .logo {
    width: 100%;
    max-width: 337px;
    height: 39px;
    position: relative;
}

#new_hd .logo > a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    /* 대전시 */
    background-image: url("/roda/img/logo.svg");
    /* 서구청 */
    /* background-image: url("/roda/img/seogu_logo_01.png");  */
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    color: transparent;
}

/* HEADER LOGO END */

/* HEADER NAV */
.hd_nav {
    width: auto;
    height: auto;
    position: relative;
}

.hd_nav .hd_nav_box {
    width: auto;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hd_nav .hd_nav_box > li {
    margin-right: 85px;
}

.hd_nav .hd_nav_box > li > a {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -1px;
    position: relative;
    color: #333;
    padding: 0 5px;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.hd_nav .hd_nav_box > li > a::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #91B5AF;
    border-radius: 5rem;
    position: absolute;
    top: -8px;
    right: -8px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.hd_nav .hd_nav_box > li > a::before {
    content: '';
    width: 0;
    height: 8px;
    border-radius: 5rem;
    background-color: #91B5AF;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.hd_nav .hd_nav_box > li:last-of-type {
    margin-right: 0;
}

.hd_nav .hd_nav_box > li > a.nav_active,
.hd_nav .hd_nav_box > li > a:hover {
    color: #226B5F;
}

.hd_nav .hd_nav_box > li > a.nav_active::after,
.hd_nav .hd_nav_box > li > a:hover::after {
    opacity: 1;
}

.hd_nav .hd_nav_box > li > a.nav_active::before,
.hd_nav .hd_nav_box > li > a:hover::before {
    width: 100%;
}

/* HEADER NAV END */
